<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ 'Information text'|t }}:</h5>
        <div class="card-text">{{ info_text }}</div>
    </div>
    <div class="card-body">
        <b class="card-title">{{ 'Integer number'|t }}: </b>
        <span class="card-text">{{ info_integer }}</span>
    </div>
</div>